<section id="gestionFrais">
    <h1 style="text-align: center">Gestion des notes de frais</h1>
    <table class="table ">
        <thead>
            <tr>
                <th style="text-align: center;">
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('dateDebut')">
                        Date de début
                        <span ng-if="$ctrl.order == 'dateDebut'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th style="text-align: center;">
                    <a href="#" ng-click="$ctrl.updateOrderEtTri('dateFin')">
                        Date de fin
                        <span ng-if="$ctrl.order == 'dateFin'">
                            <span ng-show="$ctrl.triInverse">
                                <span class="caret"></span>
                            </span>
                            <span ng-show="!$ctrl.triInverse">
                                <span class="dropup"><span class="caret"></span></span>
                            </span>
                        </span>
                    </a>
                </th>
                <th style="text-align: center;">Nature</th>
                <th style="text-align: center;">Départ</th>
                <th style="text-align: center;">Arrivée</th>
                <th style="text-align: center;">Transport</th>
                <th style="text-align: center;">Frais</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.mission | orderBy:$ctrl.order:$ctrl.triInverse">
                <td style="text-align: center;">{{item.dateDebut}}</td>
                <td style="text-align: center;">{{item.dateFin}}</td>
                <td style="text-align: center;">{{item.natureMissionInit.libelle}}</td>
                <td style="text-align: center;">{{item.villeDepart.libelle}}</td>
                <td style="text-align: center;">{{item.villeArrivee.libelle}}</td>
                <td style="text-align: center;">{{item.transport.libelle}}</td>
                <td style="text-align: center;">{{item.frais}}€</td>
                <td style="text-align: center;">
                    <a href="/gestion-des-missions/detail" ng-click="$ctrl.saveIdMission(item.id, item.dateDebut, item.dateFin)" class="btn btn-default" ng-show="(item.dateFin <= ($ctrl.dateNow | date:'yyyy-MM-dd')) && (!item.noteDeFraisValider)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" ng-click="$ctrl.pdf(item.id)" ng-show="(item.dateFin <= ($ctrl.dateNow | date:'yyyy-MM-dd'))" disabled>
                        <span class="glyphicon glyphicon-save-file"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</section>