/* Connexion page -------------------------------------------------- */
#connexion-page .connexionFormContainer {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d4d4d4;
    border: 1px solid #aaa;
    margin-top: 30px;
    padding: 30px;
}

#connexion-page .connexionFormContainer div.row {
    margin-bottom: 10px;
}

/* Form validation */
input.ng-dirty.ng-invalid,
.ng-submitted input.ng-invalid {
    border: 1px solid red;
}

input.ng-dirty.ng-valid,
.ng-submitted input.ng-valid {
    border: 1px solid green;
}

input.ng-touched.ng-invalid,
.ng-submitted input.ng-invalid {
    border: 1px solid red;
}

input.ng-touched.ng-valid,
.ng-submitted input.ng-valid {
    border: 1px solid green;
}

select.ng-touched.ng-invalid,
.ng-submitted select.ng-invalid {
    border: 1px solid red;
}

select.ng-touched.ng-valid,
.ng-submitted select.ng-valid {
    border: 1px solid green;
}

.text-alert {
  color: red;
}

.alert.alert-danger.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    visibility: hidden;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    max-height: 100%;
    width: auto;
}

.img-centered {
    margin: auto;
}
