
  <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Demande de mission</legend>

    <!-- Input Date de début -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="input-date-debut">Date de début</label>
      <div class="col-md-4">
        <input type="date" ng-model="$ctrl.dateDebut" id="input-date-debut" name="" value="">
      </div>
    </div>

    <!-- Input Date de fin -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="input-date-fin">Date de fin</label>
      <div class="col-md-4">
        <input type="date" ng-model="$ctrl.dateFin" id="input-date-fin" name="" value="">
      </div>
    </div>

    <!-- Select Nature -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select-nature">Nature</label>
      <div class="col-md-4">
        <select ng-model="$ctrl.nature" ng-options="nature.libelle for nature in $ctrl.natures track by nature.id" name="nature" id="select-nature" class="form-control">
        </select>
      </div>
    </div>

    <!-- Select Ville de départ -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select-ville-depart">Ville de départ</label>
      <div class="col-md-4">
        <select ng-model="$ctrl.villeDepart" ng-options="villeDepart.libelle for villeDepart in $ctrl.villes track by villeDepart.id" name="ville-depart" id="select-ville-depart" class="form-control">
        </select>
      </div>
    </div>

    <!-- Select Ville d'arrivée -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select-ville-arrivee">Ville d'arrivée</label>
      <div class="col-md-4">
        <select ng-model="$ctrl.villeArrivee" ng-options="villeArrivee.libelle for villeArrivee in $ctrl.villes track by villeArrivee.id" name="ville-arrivee" id="select-ville-arrivee" class="form-control">
        </select>
      </div>
    </div>

    <!-- Select Transport -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="select-transport">Transport</label>
      <div class="col-md-4">
        <select ng-model="$ctrl.transport" ng-options="transport.libelle for transport in $ctrl.transports track by transport.id" name="transport" id="select-transport" class="form-control">
        </select>
      </div>
    </div>

    <!-- Buttons (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button-annuler"></label>
      <div class="col-md-8">
        <button id="button-annuler" name="buttonAnnuler" class="btn btn-danger">Annuler</button>
        <button ng-click="$ctrl.creerMission()" id="button-valider" name="buttonValider" class="btn btn-success">Valider</button>
      </div>
    </div>

    </fieldset>
  </form>
