<section id="liste-missions">
  <h1 class="text-center">Gestion des Missions</h1>
  <br>
  <table class="table ">
    <thead>
      <tr>
        <th class="text-center">
            <a href="#" ng-click="$ctrl.updateOrderEtTri('dateDebut')">
                Date de début
                <span ng-if="$ctrl.order == 'dateDebut'">
                    <span ng-show="$ctrl.triInverse">
                        <span class="caret"></span>
                    </span>
                    <span ng-show="!$ctrl.triInverse">
                        <span class="dropup"><span class="caret"></span></span>
                    </span>
                </span>
            </a>
        </th>
        <th class="text-center">
            <a href="#" ng-click="$ctrl.updateOrderEtTri('dateFin')">
                Date de fin
                <span ng-if="$ctrl.order == 'dateFin'">
                    <span ng-show="$ctrl.triInverse">
                        <span class="caret"></span>
                    </span>
                    <span ng-show="!$ctrl.triInverse">
                        <span class="dropup"><span class="caret"></span></span>
                    </span>
                </span>
            </a>
        </th>
        <th class="text-center">Nature</th>
        <th class="text-center">Départ</th>
        <th class="text-center">Arrivée</th>
        <th class="text-center">Transport</th>
        <th class="text-center">
            <a href="#" ng-click="$ctrl.updateOrderEtTri('statut')">
                Statut
                <span ng-if="$ctrl.order == 'statut'">
                    <span ng-show="$ctrl.triInverse">
                        <span class="caret"></span>
                    </span>
                    <span ng-show="!$ctrl.triInverse">
                        <span class="dropup"><span class="caret"></span></span>
                    </span>
                </span>
            </a>
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
        <tr ng-repeat="mission in $ctrl.missionsUtilisateur | orderBy:$ctrl.order:$ctrl.triInverse">
            <td class="text-center">{{mission.dateDebut | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{mission.dateFin | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{mission.natureMissionInit.libelle}}</td>

            <td class="text-center">
              <span ng-show="mission.natureMissionInit.libelle != 'MISSION'">{{mission.villeDepart.libelle}}</span>
              <span ng-show="mission.natureMissionInit.libelle == 'MISSION'">-</span>
            </td>

            <td class="text-center">
              <span ng-show="mission.natureMissionInit.libelle != 'MISSION'">{{mission.villeArrivee.libelle}}</span>
              <span ng-show="mission.natureMissionInit.libelle == 'MISSION'">-</span>
            </td>

            <td class="text-center">
              <span ng-show="mission.natureMissionInit.libelle != 'MISSION'">{{mission.transport.libelle}}</span>
              <span ng-show="mission.natureMissionInit.libelle == 'MISSION'">-</span>
            </td>

            <td class="text-center">{{mission.statut}}</td>

            <td class="text-center">
              <span ng-repeat="action in mission.actions">

                <a disabled href="/gestion-des-missions/missions/modifier" ng-show="action == 'modification'" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>

                <a disabled href="/gestion-des-missions/missions/supprimer" ng-show="action == 'suppression'" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>

                <a href="https://diginamicformation.github.io/gestion-des-absences/absence" ng-show="action == 'visualisation'" class="btn btn-default">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>

              </span>
            </td>
        </tr>
    </tbody>
  </table>

  <p style="text-align: right">Demander une mission <a href="/gestion-des-missions/missions/creer" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus"></span>
  </a></p>


</section>
