<section id="gestionFrais">
    <a href="/gestion-des-missions/note-de-frais/gestion" class="btn btn-default"><span class="glyphicon glyphicon-triangle-left"></span><strong>Retour</strong></a>
    <h1 style="text-align: center">Saisies des notes de frais</h1>
    <table class="table ">
        <tr>
            <td>Date de début : {{$ctrl.detailMission.dateDebut | date:'dd/MM/yyyy'}}</td>
            <td>Estimation prime : {{$ctrl.detailMission.prime == null? '0' : $ctrl.detailMission.prime }}€</td>
        </tr>
        <tr>
            <td>Date de fin : {{$ctrl.detailMission.dateFin | date:'dd/MM/yyyy'}}</td>
            <td>Plafond note de frais : {{$ctrl.detailMission.natureMissionInit.plafondFrais}}€</td>
        </tr>
        <tr>
            <td>Nature : {{$ctrl.detailMission.natureMissionInit.libelle}}</td>
            <td>Dépassement autorisé : {{$ctrl.detailMission.natureMissionInit.depassementFrais?'Oui':'Non'}}</td>
        </tr>
        <tr>
            <td>Ville de départ : {{$ctrl.detailMission.villeDepart.libelle}}</td>
            <td>Déduction prime : {{$ctrl.deductionPrime <= 0 ? '0' : $ctrl.deductionPrime == null ? '0' : $ctrl.deductionPrime}}€</td>
        </tr>
        <tr>
            <td>Ville d'arrivée : {{$ctrl.detailMission.villeArrivee.libelle}}</td>
            <td></td>
        </tr>
    </table>

    <h3>Liste des frais</h3>
    <table class="table ">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nature</th>
                <th>Montant</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.fraisMission">
                <td>{{item.dateCreation | date:'dd/MM/yyyy'}}</td>
                <td>{{item.nature.libelle}}</td>
                <td>{{item.montant}}€</td>
                <td>
                    <a href="/gestion-des-missions/modification/{{item.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" ng-click="$ctrl.suppr(item.id, item.dateCreation, item.nature.libelle, item.montant)"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div><a ng-click="$ctrl.valider()" class="btn btn-success col-xs-4"><span class="glyphicon glyphicon-ok"></span> Validez la note de frais</a>
    <a href="/gestion-des-missions/ajout" class="btn btn-primary col-xs-4 col-xs-offset-4">Ajouter un frais <span class="glyphicon glyphicon-plus"></span></a></div>

</section>