<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmation</h3>
</div>
<div class="modal-body" id="modal-body">
    <h4>Êtes-vous sûr(e) de vouloir supprimer ce frais ?</h4>
    <ul>
        <li>Date de création : {{$ctrl.dateCreationFrais | date:'dd/MM/yyyy'}}</li>
        <li>Nature : {{$ctrl.natureLibelle}}</li>
        <li>Montant : {{$ctrl.montantFrais}}€</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.annuler()">Annuler</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.suppr()">Valider</button>
</div>